<div id='{{revision_id}}' class='revision'><legend>Test Revisions<a id='remove-{{revision_id}}' class='pull-right remove-revision'><span class='glyphicon
                  glyphicon-remove'></span></a></legend>

  <div class='form-group product-select-div' style='display:block'>
    <label class='col-md-4 control-label' for='{{revision_id}}-product'>Product</label>
    <div class='col-md-8'>
      <select id='{{revision_id}}-product'
              class='product-select form-control' required onchange='maybe_show_dse_options(this.id, this.value);'>
        <option value='cassandra'>cassandra</option>
      </select>
    </div>
  </div>

  <div class='form-group'>
    <label class='col-md-4 control-label' for='{{revision_id}}-refspec'>Revision</label>
    <div class='col-md-8'>
      <input id='{{revision_id}}-refspec' type='text' placeholder='Git branch, tag, commit id or DSE version' class='refspec form-control input-md' required>
    </div>
  </div>

  <div class='form-group'>
    <label class='col-md-4 control-label' for='{{revision_id}}-label'>Label</label>
    <div class='col-md-8'>
      <input id='{{revision_id}}-label' type='text'
             placeholder='One line description of Revision'
             class='form-control input-md revision-label'>
      <span class='help-block'>Defaults to Revision if unspecified</span>
    </div>
  </div>

  <div class='form-group'>
    <label class='col-md-4 control-label' for='{{revision_id}}-yaml'>Cassandra.yaml</label>
    <div class='col-md-8'>
          <textarea class='form-control yaml' id='{{revision_id}}-yaml'
                    placeholder='Any cassandra.yaml options you want that differ from the default settings for the chosen cluster.'></textarea>
    </div>
  </div>

  <div class='form-group dse-yaml-settings-div' style='display:block' id='{{revision_id}}-dse_yaml_div'>
    <label class='col-md-4 control-label' for='{{revision_id}}-dse_yaml'>dse.yaml</label>
    <div class='col-md-8'>
          <textarea class='form-control dse_yaml' id='{{revision_id}}-dse_yaml'
                    placeholder='Any dse.yaml options you want that differ from the default settings for the chosen cluster.'></textarea>
    </div>
  </div>

  <div class='form-group'>
    <label class='col-md-4 control-label' for='{{revision_id}}-env-vars'>Environment Script</label>
    <div class='col-md-8'>
          <textarea class='form-control env-vars' id='{{revision_id}}-env-vars'
                    placeholder='Environment settings to prepend to cassandra-env.sh'></textarea>
    </div>
  </div>

  <div class='form-group' style='display:block' id='{{revision_id}}-spark_env_div'>
    <label class='col-md-4 control-label' for='{{revision_id}}-spark-env-vars'>Spark Environment Script</label>
    <div class='col-md-8'>
          <textarea class='form-control spark-env-vars' id='{{revision_id}}-spark-env-vars'
                    placeholder='Spark Environment settings to append to spark-env.sh'></textarea>
    </div>
  </div>

  <div class='form-group'>
    <label class='col-md-4 control-label' for='{{revision_id}}-jvm'>JVM</label>
    <div class='col-md-8'>
      <select id='{{revision_id}}-jvm'
              class='jvm-select form-control' required>
      </select>
    </div>
  </div>

  <div class='form-group'>
    <label class='col-md-4 control-label' for='{{revision_id}}-token-allocation'>Token Allocation</label>
    <div class='col-md-8'>
      <select id='{{revision_id}}-token-allocation'
              class='token-allocation-select form-control' required>
        <option value='non-vnodes'>non-vnodes</option>
        <option value='random' selected='selected'>vnodes (random)</option>
        <option value='static-random'>vnodes (static-random)</option>
        <option value='static-algorithmic'>vnodes (static-algorithmic)</option>
      </select>
      <div class='checkbox'>
        <input type='checkbox' class='options-yourkit' id='{{revision_id}}-options-yourkit'/>
        <label for='{{revision_id}}-options-yourkit'>Enable yourkit profiling</label>
      </div>
      <div class='checkbox'>
        <input type='checkbox' class='options-debug-logging' id='{{revision_id}}-options-debug-logging'/>
        <label for='{{revision_id}}-options-debug-logging'>Enable debug logging (will create a separate debug.log)</label>
      </div>
    </div>
  </div>

  <div class='form-group' style='display:block' id='{{revision_id}}-dse_node_type_div'>
    <label class='col-md-4 control-label' for='{{revision_id}}-dse_node_type'>DSE Node Type</label>
    <div class='col-md-8'>
      <select id='{{revision_id}}-dse_node_type' class='dse_node_type form-control'>
        <option value='cassandra'>Cassandra</option>
        <option value='search'>Search</option>
        <option value='search-analytics'>SearchAnalytics</option>
        <option value='spark'>Spark</option>
        <option value='spark-hadoop'>SparkHadoop</option>
        <option value='hadoop'>Hadoop</option>
      </select>
    </div>
  </div>
</div>
