
<div id='{{operation_id}}' class='operation'><legend>Operation<a class='pull-right' id='remove-{{operation_id}}'><span class='glyphicon
    glyphicon-remove'></span></a></legend>
  <div class='form-group'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-type'>Operation</label>
    <div class='col-md-9'>
      <select id='{{operation_id}}-type'
              class='operation-type form-control type'>
        <option value='stress'>stress</option>
        <option value='nodetool'>nodetool</option>
        <option value='cqlsh'>cqlsh</option>
        <option value='bash'>bash</option>
        <option id='{{operation_id}}-spark_cassandra_stress_select' value='spark_cassandra_stress'>spark-cassandra-stress</option>
        <option value='ctool'>ctool</option>
        <option id='{{operation_id}}-dsetool_select' value='dsetool'>dsetool</option>
        <option id='{{operation_id}}-dse_select' value='dse'>dse</option>
      </select>
    </div>
  </div>

  <div class='form-group type stress'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-command'>Stress Command</label>
    <div class='col-md-9'>
      <textarea id='{{operation_id}}-command' type='text'
                class='form-control input-md command-stress' required=''>{{command_stress}}</textarea>
    </div>
  </div>
  <div class='form-group type stress'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-stress-revision'>Stress Revision</label>
    <div class='col-md-9'>
      <input id='{{operation_id}}-stress-revision' type='text'
             class='form-control input-md stress-revision' value='{{stress_revision}}' required=''></input>
    </div>
  </div>

  <div class='form-group type nodetool'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-command'>Nodetool Command</label>
    <div class='col-md-9'>
      <input id='{{operation_id}}-command' type='text'
             class='form-control input-md command-nodetool' value='{{command_nodetool}}' required=''>
    </div>
  </div>
  <div class='form-group nodes nodetool'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-command'>Nodes</label>
    <div class='col-md-9'>
      <select multiple id='{{operation_id}}-nodes' type='text'
              class='form-control input-md nodes-nodetool node-select'>
      </select>
    </div>
  </div>

  <div class='form-group type cqlsh'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-command'>CQL script</label>
    <div class='col-md-9'>
      <textarea id='{{operation_id}}-script' type='text'
                class='form-control input-md script-cqlsh' required=''>{{script_cqlsh}}</textarea>
    </div>
  </div>
  <div class='form-group nodes cqlsh'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-command'>Nodes</label>
    <div class='col-md-9'>
      <select id='{{operation_id}}-nodes' type='text'
              class='form-control input-md node-cqlsh node-select'>
      </select>
    </div>
  </div>

  <div class='form-group type ctool'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-command'>ctool Command</label>
    <div class='col-md-9'>
      <input id='{{operation_id}}-command' type='text'
             class='form-control input-md command-ctool' value='{{command_ctool}}' required=''>
    </div>
  </div>

  <div class='form-group type spark_cassandra_stress'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-command'>Spark Cassandra Stress Command</label>
    <div class='col-md-9'>
      <textarea id='{{operation_id}}-script' type='text'
                class='form-control input-md script-spark-cassandra-stress' required=''>{{script_spark_cassandra_stress}}</textarea>
    </div>
  </div>
  <div class='form-group type dsetool'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-command'>dsetool Command</label>
    <div class='col-md-9'>
      <textarea id='{{operation_id}}-script' type='text'
                class='form-control input-md script-dsetool' required=''>{{script_dsetool}}</textarea>
    </div>
  </div>
  <div class='form-group nodes dsetool'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-command'>Nodes</label>
    <div class='col-md-9'>
      <select multiple id='{{operation_id}}-nodes' type='text'
              class='form-control input-md nodes-dsetool node-select'>
      </select>
    </div>
  </div>

  <div class='form-group type dse'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-command'>dse Command</label>
    <div class='col-md-9'>
      <textarea id='{{operation_id}}-script' type='text'
                class='form-control input-md script-dse' required=''>{{script_dse}}</textarea>
    </div>
  </div>
  <div class='form-group nodes dse'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-command'>Node</label>
    <div class='col-md-9'>
      <select id='{{operation_id}}-nodes' type='text'
              class='form-control input-md node-dse node-select'>
      </select>
    </div>
  </div>

  <div class='form-group type bash'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-command'>Bash script</label>
    <div class='col-md-9'>
      <textarea id='{{operation_id}}-script' type='text'
                class='form-control input-md script-bash' required=''>{{script_bash}}</textarea>
    </div>
  </div>
  <div class='form-group nodes bash'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-command'>Nodes</label>
    <div class='col-md-9'>
      <select multiple id='{{operation_id}}-nodes' type='text'
              class='form-control input-md nodes-bash node-select'>
      </select>
    </div>
  </div>

  <div class='form-group'>
    <label class='col-md-3 control-label'
           for='{{operation_id}}-options'>Options</label>
    <div class='col-md-8'>
      <div class='checkbox'>
        <input type='checkbox' class='wait-for-compaction' id='{{operation_id}}-wait-for-compaction' checked='checked'>
        <label for='{{operation_id}}-wait-for-compaction'>
          Wait for compactions before next operation
        </label>
      </div>
    </div>
  </div>

  <div class='panel-group stress' id='{{operation_id}}-stress-variations'>
    <div class='panel col-md-12'>
      <div class='panel-heading'>
        <a data-toggle='collapse' data-parent='#{{operation_id}}-stress-variations' href='#{{operation_id}}-stress-variations-collapse'>Stress Variations </a><span class='glyphicon glyphicon-chevron-down'></span>
      </div>
      <div id='{{operation_id}}-stress-variations-collapse' class='panel-collapse collapse'>
        <table class='col-md-12'>
          <tr><td>
            <input disabled=disabled type='checkbox' class='kill-nodes' id='{{operation_id}}-kill-nodes' value='1'>
            Kill</td><td>
            <select disabled=disabled id='{{revision_id}}-kill-nodes-num' class='form-control kill-nodes-dropdown kill-nodes-num'>
              <option value='1'> 1 </option>
              <option value='2'> 2 </option>
              <option value='3'> 3 </option>
              <option value='4'> 4 </option>
            </select>
          </td><td>nodes after</td><td>
            <input disabled=disabled id='{{revision_id}}-kill-nodes-delay' class='kill-nodes-delay' value='300'/> seconds
          </td>
          </tr><tr>
          <td>
            <input disabled=disabled type='checkbox' class='compact' id='{{operation_id}}-compact' value='1'>
            Major Compaction</td><td>
        </td><td>after</td><td>
          <input disabled=disabled id='{{revision_id}}-kill-nodes-delay' class='kill-nodes-delay' value='300'/> seconds
        </td>
        </tr><tr>
          <td>
            <input disabled=disabled type='checkbox' class='bootstrap' id='{{operation_id}}-bootstrap' value='1'>
            Bootstrap</td><td>
          <select disabled=disabled id='{{revision_id}}-kill-nodes'  class='form-control kill-nodes-dropdown kill-nodes'>
            <option value='1'> 1 </option>
            <option value='2'> 2 </option>
            <option value='3'> 3 </option>
            <option value='4'> 4 </option>
          </select>
        </td><td>nodes after</td><td>
          <input disabled=disabled id='{{revision_id}}-kill-nodes-delay' class='kill-nodes-delay' value='300'/> seconds
        </td></tr>
        </table>
      </div>
    </div>
  </div>
</div>

