A regression has been detected in series '{{name}}' operation '{{operation}}':

Historical Performance: {{historical_performance}}
Current Performance: {{current_performance}}

See details at: {{url}}
