<div id="signin_form" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">Sign in</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row" style="margin-bottom:10px">
              <div class="col-md-3">Email address</div>
              <div class="input-group col-md-8 col-md-offset-4">
                <input id="signin_form_email_input" type="text" class="form-control" placeholder="bob@example.com" aria-describedby="basic-addon2">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">Passphrase</div>
              <div class="input-group col-md-8 col-md-offset-4">
                <input id="signin_form_passphrase_input" type="password" class="form-control"
                       placeholder="passphrase" aria-describedby="basic-addon2">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="signin_form_cancel_btn" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="signin_form_login_btn" type="button" class="btn btn-primary">Login</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
